<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="overtime.example.repository.UserMapper">
<!-- ログインユーザー情報取得 -->
<select id="findLoginUser" resultType="LoginUsers">
	select
		users.id
		,users.account
		,users.pass
		,roles.role
	from
		users
	left join
		roles
	on
		users.roles_id  = roles.id
	where
		users.account = #{account}
	and users.is_deleted = 0
</select>

<!-- ユーザー情報取得 -->
<select id="findUser" resultType="Users">
	select
		users.id
		,users.account
		,users.pass
		,users.name
		,users.departments_id
		,departments.name as departments_name
		,users.roles_id
		,roles.role
		,users.work_patterns_id
	from
		users
	left join
		roles
	on
		users.roles_id  = roles.id
	left join
		departments
	on
		users.departments_id = departments.id
	where
		users.account = #{account}
	and users.is_deleted = 0
</select>

</mapper>